/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* MY CODE */

@media screen and (min-width:480px){

    .wrapper-color{
        background-color: #eceff1;
        padding: 0 65px !important;
    }

    .wrapper-body{
        padding: 15px;
    }

    .wrapper-body .event-header{
        font-size: 25px;
        padding: 20px 0;
    }

    .wrapper-body p{
        line-height: 1.5em;
        padding-bottom: 20px;
    }

    .youtube-event-video h1{
        font-size: 25px;
        padding: 0 0 20px 0;
    }

    
    .col-sm-10 .header-name{
        padding-bottom: 10px;
    }
    .header-name{
        font-size: 25px;
    }

    .col-sm-7 {
        padding-right: 0;
    }

    .date-event{
        font-size: 20px;
        padding-bottom: 10px;
        color: #007bff;
    }
 
    .col-sm-12 a{
        color: 	#ff8b00;
    }

    .col-sm-12{
        
        padding-bottom: 10px;
    }

    .wrapper-right h1{
        font-size: 25px;
        padding: 20px 0 20px 0;
    }

    .wrapper-right h2{
        font-size:20px;
        padding: 10px 0 20px 0;
        color: grey;
    }

    .col-sm-4 .time-data{
        font-size: 21px;
        color: #007bff;
        font-weight: 700;
    }

    .col-sm-4 .sub-time-data{
        color: grey;
    }

    .col-sm-4 {
        padding-bottom: 80px;
        position: relative;
    }

    
    .divider{
        border: 4px solid orange;
        background-color: orange;
        height: 68px;
        position: absolute;
        top: 3px;
        right: 15px;
    }

    .divider-blue{
        border: 4px solid #007bff;
        background-color: #007bff;
        height: 68px;
        position: absolute;
        top: 3px;
        right: 15px;
    }

    .speaker h1{
        font-size: 25px;
        padding-bottom: 20px;
    }

    .speaker img{
        height: 200px;
        width: 200px;
        padding: 0 15px 20px 0 ;
    }
 
    .event-photos h1{
        font-size: 25px;
        padding: 0 0 20px 0;
    }
    .event-photos img{
        height: 100px;
        width: 200px;
        padding: 0 20px 15px 0;
    }

    .strategy{
        font-size: 21px;
        
        font-weight: 700;
    }

    .photosRow h1{
        
            padding: 30px 250px 14px 0;
            font-size: 25px;
    }

   
}