<section ng-controller="communityController">
          
    <div class="flex-container">
        <div class="flex-item-left community-page-color">
            <h2>Welcome to the </h2>
            <h2>Application Library</h2>
            <h2>Engineering Group Community</h2>
        </div>

        <div class="flex-item-right community-page-color">
            <img ng-src="{{comImg.communityBanner}}" alt="library" width="100%">
        </div>
    </div>

    <!--third row container-->


    <div class="container mt-3">
        <div class="wrapper text-center">
            <h2>Discuss on Slack Community</h2>
        </div>   
        <div class="media border p-3">
            <img ng-src="{{comImg.github}}" alt="github image"  style="width: 130px;">
            <div class="media-body">
                <p>An easy way to contribute ,send feedback and track the important issues, We welcome contributions and contains information on how to get started which can be found at our contribution guide.</p>
                <a href="https://github.com/applibgroup" style="text-decoration: none;"><button class="btn btn-primary">Read more</button></a>
            </div>
        </div>
        <div class="media border p-3">
            <img ng-src="{{comImg.medium}}" alt="github image"  style="width: 130px;">
            <div class="media-body">
                <p>We at applibgroup to strive to provide all the motivation and guidance needed for community with the help of our senior experts panel who would reach you through their writings with various articles published on Medium.</p>
                <a href="https://medium.com/applibgroup" style="text-decoration: none;"><button class="btn btn-primary">Read more</button></a>
            </div>
        </div>
        <div class="media border p-3">
            <img ng-src="{{comImg.meetup}}" alt="github image"  style="width: 130px;">
            <div class="media-body">
                <p>Visit Our Meet Up page to browse through the event and join the meetup group to get the notified about future events.</p>
                <a href="https://meetup.com/applibgroup" style="text-decoration: none;"><button class="btn btn-primary">Read more</button></a>
            </div>
        </div>
        <div class="media border p-3">
            <img ng-src="{{comImg.slack}}" alt="github image"  style="width: 130px;">
            <div class="media-body">
                <p>Have conversation with applib developers and tech expert through our Slack community. There are multiple channels dedicated for various functions with in the community or just start conversation in general channel.</p>
                <a href="https://slack.com/applibgroup" style="text-decoration: none;"><button class="btn btn-primary">Read more</button></a>
            </div>
        </div>
        <div class="media border p-3">
            <img ng-src="{{comImg.twitter}}" alt="twitter image"  style="width: 130px;">
            <div class="media-body">
                <p>Get to know what the community is up to and what inspires us by the rest of the world.</p>
                <a href="https://slack.com/applibgroup" style="text-decoration: none;"><button class="btn btn-primary">Read more</button></a>
            </div>
        </div>
        <div class="media border p-3">
            <img ng-src="{{comImg.linkedin}}" alt="twitter image"  style="width: 130px;">
            <div class="media-body">
                <p>Visit our community page to browse through the event and join community group to get notified about future events.</p>
                <a href="https://linkedin.com/applibgroup" style="text-decoration: none;"><button class="btn btn-primary">Read more</button></a>
            </div>
        </div>
       <!-- <div class="media border p-3">
            <img src="/images/social sites_images/github.png" alt="github image" class="mr-3 mt-3" style="width: 100px;">
            <div class="media-body">
                <p>An easy way to contribute ,send feedback and track the important issues.We welcome contributions and contains information on how to get started which can be found at our contribution guide.</p>
                <button class="btn btn-primary">Read more</button>
            </div>
        </div>-->
    </div>
</section>