<section class="banner">
    <div class="flex-container">
        <div class="flex-item-left home-page-color">
            <h2>Application Library</h2>
            <h2>Engineering Group</h2>
            <h3>Find Devops Library & Events.</h3>
        </div>

        <div class="flex-item-right home-page-color">
            <img src="{{img.homeBannerImg}}" alt="events" width="100%">
        </div>
    </div>
</section>
<div class="container-fluid white">
    <div class="row libraries-color">
        <div class="col-sm-9">
            <div class="library-header">
                <h2>Latest <span class="blue-color">Libraries</span></h2>
            </div>
            <hr class="hr-class">
            <span class="border-color-lib"></span>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <div class="card-body">
                          <h4 class="card-title">Login Module</h4>
                          <p class="card-text-head">10 hours ago</p>
                          <p class="card-text">Login Module is one of the basic modules of mobile application development.In this module we will discuss about different solutions and methods available.Also share the samples to acheive login from design to code.</p>
                        </div>
                        <div class="card-footer">
                            <img ng-src="{{img.verifiedImg}}" alt="verified"><span class="verified-dev">Verified.dev</span>
                            <span class="learnMore">Learn More</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <div class="card-body">
                          <h4 class="card-title">Title Head</h4>
                          <p class="card-text-head">10 hours ago</p>
                          <p class="card-text">Login Module is one of the basic modules of mobile application development.In this module we will discuss about different solutions and methods available.Also share the samples to acheive login from design to code.</p>
                        </div>
                        <div class="card-footer">
                            <img ng-src="{{img.verifiedImg}}" alt="verified"><span class="verified-dev">Verified.dev</span>
                            <span class="learnMore">Learn More</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <div class="card-body">
                          <h4 class="card-title">Title Head</h4>
                          <p class="card-text-head">10 hours ago</p>
                          <p class="card-text">Login Module is one of the basic modules of mobile application development.In this module we will discuss about different solutions and methods available.Also share the samples to acheive login from design to code.</p>
                        </div>
                        <div class="card-footer">
                            <img ng-src="{{img.verifiedImg}}" alt="verified"><span class="verified-dev">Verified.dev</span>
                            <span class="learnMore">Learn More</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <div class="card-body">
                          <h4 class="card-title">Login Module</h4>
                          <p class="card-text-head">10 hours ago</p>
                          <p class="card-text">Login Module is one of the basic modules of mobile application development.In this module we will discuss about different solutions and methods available.Also share the samples to acheive login from design to code.</p>
                        </div>
                        <div class="card-footer">
                            <img ng-src="{{img.verifiedImg}}" alt="verified"><span class="verified-dev">Verified.dev</span>
                            <span class="learnMore">Learn More</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <div class="card-body">
                          <h4 class="card-title">Title Head</h4>
                          <p class="card-text-head">10 hours ago</p>
                          <p class="card-text">Login Module is one of the basic modules of mobile application development.In this module we will discuss about different solutions and methods available.Also share the samples to acheive login from design to code.</p>
                        </div>
                        <div class="card-footer">
                            <img ng-src="{{img.verifiedImg}}" alt="verified"><span class="verified-dev">Verified.dev</span>
                            <span class="learnMore">Learn More</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <div class="card-body">
                          <h4 class="card-title">Title Head</h4>
                          <p class="card-text-head">10 hours ago</p>
                          <p class="card-text">Login Module is one of the basic modules of mobile application development.In this module we will discuss about different solutions and methods available.Also share the samples to acheive login from design to code.</p>
                        </div>
                        <div class="card-footer">
                            <img ng-src="{{img.verifiedImg}}" alt="verified"><span class="verified-dev">Verified.dev</span>
                            <span class="learnMore">Learn More</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="library-header">
                <h2>Popular <span class="blue-color">Libraries</span></h2>
            </div>
            <hr>
            <span class="border-color-event"></span>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" style="width:260px">
                        <div class="card-body">
                          <h4 class="card-title">Title Head</h4>
                          <p class="card-text-head">10 hours ago</p>
                          <p class="card-text">Login Module is one of the basic modules of mobile application development.In this module we will discuss about different solutions and methods available.Also share the samples to acheive login from design to code.</p>
                        </div>
                        <div class="card-footer">
                            <img ng-src="{{img.verifiedImg}}" alt="verified"><span class="verified-dev">Verified.dev</span>
                            <span class="learnMore">Learn More</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card" style="width:260px">
                        <div class="card-body">
                          <h4 class="card-title">Title Head</h4>
                          <p class="card-text-head">10 hours ago</p>
                          <p class="card-text">Login Module is one of the basic modules of mobile application development.In this module we will discuss about different solutions and methods available.Also share the samples to acheive login from design to code.</p>
                        </div>
                        <div class="card-footer">
                            <img ng-src="{{img.verifiedImg}}" alt="verified"><span class="verified-dev">Verified.dev</span>
                            <span class="learnMore">Learn More</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Upcoming online events -->
<div class="container-fluid">
    <div class="row libraries-color">
        <div class="col-sm-9">
            <div class="library-header">
                <h2>Upcoming <span class="blue-color">Online Events</span></h2>
            </div>
            <hr>
            <span class="border-color-upcoming"></span>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <img class="card-img-top" ng-src="{{img.eventsDetailImg}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-event-title">Understanding and Using Collectors</h4>
                          <p class="card-event-head">Wednesday,21 July 2021</p>
                        </div>
                        <div class="card-footer">
                            <span class="registered">926 Registered</span>
                            <span class="learn-more">Learn More</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <img class="card-img-top" ng-src="{{img.eventsDetailImg}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-event-title">Understanding and Using Collectors</h4>
                          <p class="card-event-head">Wednesday,21 July 2021</p>
                        </div>
                        <div class="card-footer">
                            <span class="registered">926 Registered</span>
                            <span class="learn-more">Learn More</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:260px">
                        <img class="card-img-top" ng-src="{{img.eventsDetailImg}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <h4 class="card-event-title">Understanding and Using Collectors</h4>
                          <p class="card-event-head">Wednesday,21 July 2021</p>
                        </div>
                        <div class="card-footer">
                            <span class="registered">926 Registered</span>
                            <span class="learn-more">Learn More</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12 online-events-img">
                    <img ng-src="{{img.onlineEvents}}" alt="" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>



    <!-- // PAST events -->

<div class="container-fluid white">
    <div class="row libraries-color">
        <div class="col-sm-12">
            <div class="library-header">
                <h2>Past <span class="blue-color">Events</span></h2>
            </div>
            <hr>
            <span class="border-color-past"></span>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card" style="width:350px">
                        <img class="card-img-top" ng-src="{{img.eventsDetailImg}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <p class="past-event">23 December 2021</p>
                          <h4 class="past-event-title">Continuous Testing: A Critical Part of the Devops process</h4>
                          <p class="speaker-name">Speaker Name</p>
                        </div>
                        <div class="card-footer">
                            <span class="registered">1,296 Attendees</span>
                            <span class="eve-img"><img ng-src="{{img.shareImg}}" alt="shareimg"></span><span class="eve-share-img"><img src="{{img.favouriteImg}}" alt="favourite"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:350px">
                        <img class="card-img-top" ng-src="{{img.eventsDetailImg}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <p class="past-event">23 December 2021</p>
                          <h4 class="past-event-title">Continuous Testing: A Critical Part of the Devops process</h4>
                          <p class="speaker-name">Speaker Name</p>
                        </div>
                        <div class="card-footer">
                            <span class="registered">1,296 Attendees</span>
                            <span class="eve-img"><img ng-src="{{img.shareImg}}" alt="shareimg"></span><span class="eve-share-img"><img src="{{img.favouriteImg}}" alt="favourite"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card" style="width:350px">
                        <img class="card-img-top" ng-src="{{img.eventsDetailImg}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                          <p class="past-event">23 December 2021</p>
                          <h4 class="past-event-title">Continuous Testing: A Critical Part of the Devops process</h4>
                          <p class="speaker-name">Speaker Name</p>
                        </div>
                        <div class="card-footer">
                            <span class="registered">1,296 Attendees</span>
                            <span class="eve-img"><img ng-src="{{img.shareImg}}" alt="shareimg"></span><span class="eve-share-img"><img src="{{img.favouriteImg}}" alt="favourite"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid yellow">
    <div class="row libraries-color">
        <div class="col-sm-12">
            <div class="founding-header">
                <h2>Founding <span class="blue-color">Members</span></h2>
            </div>
            <div class="founding-image">
                <img src="{{img.foundingMem}}" alt="foundingMem">
            </div>
        </div>
    </div>
</div>

    <!-- Founding members -->

